.btn {
  background: rgb(255, 252, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 252, 0, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(80, 69, 252, 1) 100%
  );
  border-radius: 8px;
  padding: 6px 16px;
  color: rgb(255, 255, 255);
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  font-weight: 900;
}
